<nav>
    <div class="container-fluid">
        <span class="logo"><a routerLink="/" routerLinkActive="active">Mister-₿itCoin</a></span>
        <ul class="navbar-nav">
            <li class="link"><a routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contacts</a></li>
            <li><a routerLink="/stats" routerLinkActive="active">Statistics</a></li>
            <li><a routerLink="contact/edit/add" routerLinkActive="active">Add Contact</a></li>
        </ul>
    </div>
</nav>