/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family:TitilliumWeb;
  src: url(./assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf);
}

body{
    text-align: center;
    background-color: #F4F7FD;
    font-family: TitilliumWeb;
    color:#222A3C;
    margin:0;
    font-size: 18px;
}

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    margin-right: 30px;
  }

  
button{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:3.5em 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
  font-size:18px;
  font-family:TitilliumWeb;
}

button:hover{
  background-color:#4095c6;
}

input{
  margin:auto;
  margin-top:40px;
  margin-bottom: 30px;
  margin-left:15px;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  }
input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  }

  canvas{
    margin-top:40px;
    width:70%;
  text-align: center;
  }